.App {
  text-align: center;
  background: url("../assets/Girl.png");
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: center;
}
