:root {
  --white: #fff;
  --pink: #f93d66;
  --violet: #6d47d9;
  --text: #012b81;
  --background: #eaeaec;
  --primary: #f83c4b;
  --secondary: #38a8a9;
}

.App {
  text-align: center;
  background: url("../assets/Girl.png");
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: center;
}
